@font-face {
  font-family: 'Spoqa Han Sans';
  font-style: normal;
  font-weight: normal;
  src: local('SpoqaHanSansRegular'),
    url(../fonts/SpoqaHanSansNeo-Regular.woff2) format('woff2'),
    url(../fonts/SpoqaHanSansNeo-Regular.woff) format('woff'),
    url(../fonts/SpoqaHanSansNeo-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-style: normal;
  font-weight: bold;
  src: local('SpoqaHanSansBold'),
    url(../fonts/SpoqaHanSansNeo-Bold.woff2) format('woff2'),
    url(../fonts/SpoqaHanSansNeo-Bold.woff) format('woff'),
    url(../fonts/SpoqaHanSansNeo-Bold.ttf) format('truetype');
}
